<!DOCTYPE html>
{% extends 'indexadmin.html' %}
{% block content %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="col-12">
                        <div class="bg-secondary rounded h-100 p-4">
                            <h6 class="mb-4">Display Vehicle info</h6>
                            <div class="table-responsive">
                                <table class="table">
                                    <thead>
                                        <tr>

                                            <th scope="col">Vehicle Name</th>
                                            <th scope="col">Vehicle Type</th>
                                            <th scope="col">Vehicle Model</th>
                                            <th scope="col">Vehicle Description</th>
                                            <th></th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    {% for d in data %}
                                        <tr>

                                            <td>{{ d.vname }}</td>
                                            <td>{{ d.vtype }}</td>
                                            <td>{{ d.vmodel }}</td>
                                            <td>{{ d.vdescription }}</td>
                                               <td>
                                                <form method="post" action="{% url 'editvehicleadmin' dataid=d.id %}" enctype="multipart/form-data">
                                                    {% csrf_token %}
                                                <button type="submit" class="btn btn-danger">Edit</button>
                                                </form>
                                            </td>


                                        </tr>
                                   {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
</body>
   <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

   {% if messages %}
  {% for message in messages %}

   {% if message.tags == 'warning' %}
   <script>
     swal('{{message}}','','warning');
   </script>

   {% elif message.tags == 'error' %}
   <script>
     swal('{{message}}','','error');
   </script>

   {% else%}
   <script>
     swal('{{message}}','','success');
   </script>

   {% endif %}

   {% endfor %} {% endif %}
</html>
{% endblock %}